<div class="slideUp"></div>
<div class="mainbg">
<%= image_tag "mainbg.jpg", class: "bg" %>
</div>

<div class="logo">
  <%= image_tag "logo.png" %>
</div>

<div class="main">
	<div id="containerIndex">
		<div id="header">
			<h2>Welcome!</h2>
		</div>
		<a href="/sessions/new" class="home btn btn-info">Register</a>
		<a href="/sessions/" class="home btn btn-warning" value="login">Login</a>
	</div>
</div>