<div class="main">
	<div id="containerIndex">
		<div id="header">
			<h2>Welcome!</h2>
		</div>
		<div>
			<form action="/sessions/new" method="GET" enctype="multipart/form-data">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
				
				<button type="submit" class="btn btn-default" value="register">Register</button>
			</form>

			<form action="/sessions/" method="GET" enctype="multipart/form-data">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
				
				<button type="submit" class="btn btn-default" value="login">Login</button>
			</form>
		</div>
	</div>
</div>