<div class="main">
		<div id="header">
			<h2>Welcome!</h2>
		</div>
		<div id="container">
			<div>
				<h3>New Splitter Registration</h3>
				<form action="/users/create" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
					
					<div class="form-group">
						<label for="first_name" value="First Name">First Name:</label>
						<input class="form-control" name="first_name" placeholder="first name" type="text">
					</div>
					
					<div class="form-group">
						<label for="last_name" value="Last Name">Last Name:</label>
						<input class="form-control" name="last_name" placeholder="last name" type="text">
					</div>

					<div class="form-group">
						<label for="username" value="Last Name">User Name:</label>
						<input class="form-control" name="username" placeholder="user name" type="text">
					</div>

					<div class="form-group">
						<label for="email" value="Email Address">Email Address:</label>
						<input class="form-control" name="email" placeholder="email address" type="text">
					</div>

					<div class="form-group">
						<label for="profilepic" value="Profile picture">Profile picture:</label>
						<input name="email" placeholder="email address" type="file">
					</div>
					
					<div class="form-group">
						<label for="password" value="Password">Password:</label>
						<input class="form-control" name="password" placeholder="password" type="password">
					</div>
					
					<div class="form-group">
						<label for="password_confirmation" value="Password">Confirm Password:</label>
						<input class="form-control" name="password_confirmation" placeholder="password confirmation" type="password">
					</div>
					
					<button type="submit" class="btn btn-default" value="register">Register</button>
				</form>
			<a href="/sessions/" name="_method" value="GET">Already Registered?</a>
			</div>
		</div>
		</div>
</div>








