<div id="main">
	<div id="containerLogin">
		<div>
			<h3>Splitter Login</h3>
			<form action="/sessions/login" method="POST">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">		
				
				<div class="form-group">
					<label for="email" value="Email Address">Email Address:</label>
					<input class="form-control" name="email" placeholder="email address" type="text">
				</div>
				
				<div class="form-group">
					<label for="password" value="Password">Password:</label>
					<input class="form-control" name="password" placeholder="password" type="password">
				</div>
				
				<button type="submit" class="btn btn-default" value="login">Login</button>
			</form>
		</div>
		<div id="messages">
			<% flash[:message].each do |message| %>
				<%=message %><br>
			<% end %>
		</div>
	</div>
</div>