<h1><%= @user.first_name %>'s List of Groups</h1>
<a href="/users">Back</a>
<% if @groups %>
	<ul>
		<% @groups.each do |group| %>
			<li><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
		<% end %>
	</ul>
<% end %>