<div id="main">
	<div id="containerGrp">
		<h1 style="text-align: center;"><%= @user.first_name %>'s List of Groups</h1>
		<% if @groups %>
			<ul>
				<% @groups.each do |group| %>
					<li><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>