<div id="main">
	<div id="containerGrp">
		<h1 style="text-align: center;">List of Expenses for <%= @group.name %></h1>
		<% if @group.expenses %>
			<ul>
				<% @group.expenses.each do |expense| %>
					<li><a href="/expenses/<%= expense.id %>"><%= expense.name %></a></li>
				<% end %>
			</ul>
		<% end %>
		<a href="/expenses/<%= @group.id %>/new">New Expense</a>
	</div>
</div>