// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.containerNewExp {
	div {
    input {
      width: 70%;
      margin: 0 auto;
    }
    text-align: center;
  }
}
#containerExp {
	margin: 0 auto;
}
#expSum {
  color: #fff;
  padding: 5px 0;
  background: linear-gradient(90deg, rgba(15,80,160,.1), rgba(15,80,160,.9), rgba(15,80,160,.1))
}
#linkRight {
  position: absolute;
  right: 0;
}
.expenseH {
  padding-bottom: 2%;
  border-bottom: 1px dotted rgb(90,90,90);
}
#percent_block, #amount_block {
	display: none;
}
select[name="split"] {
  width: 50%;
  display: inline;
}
.log {
  padding: 2% 3%;
  border: 2px dotted rgb(156,156,156);
  border-radius: 7px;
}