// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#containerNewExp {
	width: 225px;
	margin: 0 auto;
}
#containerExp {
	width: 400px;
	margin: 0 auto;
}

#percent_block, #amount_block {
	display: none;
}