// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.containerGrp {
  text-align: center;	
	width: 425px;
	margin: 0 auto;
  table tr th {
    text-align: center;
  }
}
h3, h2 {
  text-align: center;
}
@mixin modalStyle {
  position: fixed;
  top: 25%;
  padding: 2% 1%;
  background-color: rgb(53,70,92);
  border-radius: 5px;
  text-align: center;
  z-index: 20;
  label {
    color: #fff;
  }
}
.modalWrap, .modalWrap1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,.9);
  z-index: 10;
}
.modal, .modal1 {
  @include modalStyle;
}
.modal {
  height: 30%;
}
.showUsers {
  color: #fff;
}
.adduser {
  margin-top: 0;
  margin-bottom: 0;
}
.name {
  font-size: 12px;
}
.uobj {
  border: none;
  background: rgba(200,200,200,.5);
  padding: 1%;
  border-radius: 3px;
  width: 30%;
  display: inline-block;
  margin: 0 2px 2px;
}
.inviteResult{
  margin-bottom: 5px;
}