// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
	display: block;
}
button {
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}
#main {
	width: 900px;
	margin: 0 auto;
}
#header {
	text-align:center;
}
	#containerIndex {
		text-align: center;
		width: 300px;
		margin: 0 auto;	
	}
	#containerRegister {
		width: 500px;
		margin: 0 auto;
	}
	#containerLogin {
		width: 225px;
		margin: 0 auto;
	}
	#messages {
		font-weight: bold;
		color: red;
		text-align: center;
	}

