// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	display: block;
}
	#containerIndex {
		width: 500px;
		margin: 0 auto;
	}
	#containerShowUser {
		width: 350px;
		margin: 0 auto;
	}

.userpic {
  width: 80%;
}