// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	display: block;
}
	#containerShowUser {
		text-align: center;
		width: 350px;
		margin: 0 auto;
	}

.userpic {
	margin: 0 auto;
  width: 80%;
}

#owes, #owed {
	display: none;
}

#owes_button, #owed_button {
	display: block;
}

#containerSettle {
	text-align: center;
	width: 350px;
	margin: 0 auto;
}

#owes_list {
	text-align: left;
	list-style-type: disc;
	margin: 0px 0px 20px 30px;
}